:root {
    --principal: #EEB04E;
}
/* Estilos para la sección de servicios */
.service-section .section-shape {
    margin-right: 15px;
    display: inline-block;
}

.service-section .section-sub-title {
    display: inline-block;
}

.service-section .section-sub-title h4 {
    font-size: 22px;
    /* color: #F60; */
    color: var(--principal);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 26px;
    margin-bottom: 16px;
}

.service-section .section-main-title {
    margin-bottom: 62px;
}

.service-section .section-main-title h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 44px;
}

.service-section .service-items-box-two {
    background: #FFF;
    box-shadow: 0px 4px 60px 0px rgba(139, 139, 139, 0.15);
    padding: 22px 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 100%;
    min-height: 300px;
}

.service-section .service-items-box-two::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 0;
    /* background: #F60; */
    background: var(--principal);
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    transition: .5s;
}

.service-section .service-items-box-two:hover::before {
    width: 100%;
}

.service-section .service-icon-thumb {
    background: var(--black, #18191D);
    height: 120px;
    width: 120px;
    line-height: 70px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.service-section .service-icon-thumb::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    /* background: #F60; */
    background: var(--principal);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    transform: scale(0);
    z-index: -1;
    transition: .5s;
}

.service-section .service-items-box-two:hover .service-icon-thumb::before {
    transform: scale(1.1);
}

.service-section .service-icon-thumb img {
    transition: .5s;
}

.service-section .service-items-box-two:hover .service-icon-thumb img {
    filter: brightness(0) invert(1);
}

.service-section .service-items-title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-section .service-items-title h4 {
    margin: 0;
}

.service-section .service-items-title h4 a {
    color: var(--black, #18191D);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
}

.service-section .service-items-content-two {
    flex-grow: 1;
    color: var(--secondery, #666);
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin: 26px 0 22px;
}

.service-section .service-items-thumb-two {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
}

.service-section .service-items-icon-two {
    position: absolute;
    bottom: 20px;
    right: 16px;
}

.service-section .service-items-icon-two i {
    height: 40px;
    width: 40px;
    /* background: #F60; */
    background: var(--principal);
    display: inline-block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    transform: rotate(45deg);
    position: relative;
    z-index: 1;
    transition: .5s;
}

.service-section .service-items-box-two:hover .service-items-icon-two i {
    transform: rotate(0);
}

.service-section .service-items-icon-two i::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--black, #18191D);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    transform: scale(0);
    z-index: -1;
    transition: .5s;
}

.service-section .service-items-box-two:hover .service-items-icon-two i::after {
    transform: scale(1.1);
}

.service-section .service-disctription {
    text-align: right;
}

.service-section .service-disctription span {
    color: #18191D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.service-section .service-disctription span a {
    /* color: #F60; */
    color: var(--principal);
    font-size: 18px;
    font-weight: 400;
    text-decoration-line: underline;
}

/* Estilo de los iconos */
.service-section .icon {
    position: absolute;
    font-size: 120px;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}